.request-in-list {
  margin: 20px;
  border: 1px solid;
  border-radius: 20px;
  width: 50%;
}

.request-button {
  border: none;
  border-radius: 8px;
  width: 90px;
  height: 30px;
  background: #6600bb;
  outline: 3px solid #6600bb00;
  outline-offset: 3px;
  font-size: 15px;
  color: #ffffff;
  transition: outline 0.2s;
}

.request-button:hover {
  cursor: pointer;
  outline: 3px solid #6600bbff;
}

.capitalize {
  text-transform: capitalize;
}

.tag {
  margin: 5px 10px;
  border-radius: 10px;
  background-color: yellow;
}

.search {
  border-radius: 20px;
  width: 40%;
  padding: 0 6px;
  background: #ffa500;
  transition: height 0.5s;
}

.search.off {
  height: 50px;
  overflow: hidden;
}

.search.on {
  height: 200px;
  overflow: auto;
}

input[type="text"] {
  margin: 6px 0;
  border: 1px solid;
  border-radius: 20px;
  padding: 3px 10px;
  width: 50%;
  height: 30px;
}

textarea {
  margin: 6px 0;
  border: 1px solid;
  border-radius: 20px;
  padding: 8px 10px;
  min-width: 50%;
  width: 50%;
  min-height: 50px;
  height: 30px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  background-color: red;
}
