h1 {
  margin: 0;
}

button {
  border: none;
  padding: 0;
  background: initial;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.nav {
  padding: 15px;
  background: linear-gradient(135deg, #800080, #ff0000, #ffa500);
  color: #ffffff;
}

.nav-button {
  position: relative;
  margin: 10px 30px 0 0;
  transition: text-shadow 0.25s;
}

.nav-button:hover {
  text-shadow: 0px 0px 8px white, 0px 0px 8px white;
}

.nav-button:hover::after {
  position: absolute;
  right: -15px;
  content: "❯";
}

.profile {
  position: absolute;
  top: 25px;
  right: 25px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  outline: 1px solid white;
  transition: box-shadow 0.25s;
}

.profile:hover {
  cursor: pointer;
  box-shadow: 0 0 8px 4px #ffffff;
}

.request-in-list {
  margin: 20px auto;
  border: 1px solid #808080;
  border-radius: 20px;
  padding: 20px;
  width: 50%;
  background: #f0f0f0;
  transition: box-shadow 0.25s;
}

.request-in-list:hover {
  box-shadow: 0 0 10px 2px #c8c8c8;
}

.request-button {
  margin: 20px;
  border-radius: 15px;
  padding: 4px;
  width: 100px;
  height: 36px;
  background: #6800bd;
  font-size: 15px;
  color: #ffffff;
  transition: background 0.4s, box-shadow 0.4s;
  outline: 0 0 1px black;
}

.request-button:hover {
  cursor: pointer;
  background: hsl(273, 100%, 50%);
  box-shadow: 0 0 10px 3px rgb(150, 150, 150);
}

.capitalize {
  text-transform: capitalize;
}

.tag {
  margin: 5px 10px;
  border-radius: 10px;
  background-color: yellow;
}

.search {
  border-radius: 20px;
  width: 40%;
  padding: 0 6px;
  background: #ffa500;
  transition: height 0.5s;
}

.search.off {
  height: 50px;
  overflow: hidden;
}

.search.on {
  height: 200px;
  overflow: auto;
}

input[type="text"] {
  margin: 6px 0;
  border: 1px solid;
  border-radius: 20px;
  padding: 3px 10px;
  width: 50%;
  height: 30px;
}

textarea {
  margin: 6px 0;
  border: 1px solid;
  border-radius: 20px;
  padding: 8px 10px;
  min-width: 50%;
  width: 50%;
  min-height: 50px;
  height: 30px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  background-color: red;
}

.request-page {
  background-color: rgb(225, 225, 225);
  border-radius: 40px;
  padding: 20px;
  margin: 40px;
  transition: box-shadow 0.25s;
  border: 1px solid rgb(150, 150, 150);
}

.request-page:hover {
  box-shadow: 0 0 10px 2px rgb(200, 200, 200);
  cursor: pointer;
}

.comment {
  border-radius: 25px;
  background-color: rgb(210, 210, 210);
  padding: 10px;
}
